@charset "UTF-8";


#container
{
	position:relative;
	margin:0 auto;
	width:1000px;
	height:1000px;
	border:none;
	top: 0px;
	color: #0C0C0C;
	background:#EEEEEE;
	font-family: 'Open Sans', sans-serif;

	background-color: #FAFAFA;
}

#headerbg
{
	position:absolute;
	height:138px;
	top: 0px;
	width:100%;
	left: 0px;
	background:#AA0000;

}

#container #header
{
	width:70%;
	height:130px;
	top: 0px;
	left: 0px;
	font-family: 'Open Sans Condensed', sans-serif;
	position:absolute;
	background:#AA0000;
	color: #DDDDDD;
	font-size: 36pt;
}

#container #contact
{
	width:30%;
	height:130;
	top: 0px;
	left: 70%;
	font-family: 'Open Sans Condensed', sans-serif;
	position:absolute;
	background:#AA0000;
	color: #DDDDDD;
	font-size: 36pt;
}

#container #pitch
{
	position:absolute;

	width:70%;
	top:155px;
	height:400px;
}

#container #teacher
{
	position:absolute;
	width:30%;
	height:750px;
	left:70%;
	top:155px;
}

#container #teacher #profile
{
	position:absolute;
	top:235px;
	margin-left: 5%;
	margin-right: 5%;
}

#container #teacher #image
{
	position:absolute;
	margin-left: 5%;
	width: 90%;
	height: 200px;
}

#container #courses
{
	position:absolute;
	top:525px;
	width:70%;
	height:300px;
	font-family: 'Open Sans Condensed', sans-serif;

	color: #DDDDDD;
	font-size: 24;
}

#container #courses #box
{
	position: absolute;
	left:0%;
	width: 30%;
	height: 100%;
	background: #AA0000;
}


#container #courses #detail
{
	position: absolute;
	top: 75%;
	height: 25%;
	width: 100%;
	background: #880000;
	font-family: 'Open Sans', sans-serif;
	font-size: 13;

}
